.container {

    height: 700px;
    width: 400px;

    border: 1px solid;

}

.scroll-pages, 
.scroll-pages--vertical,
.scroll-pages--horizontal {
    width: 100%;
    height: 100%;
    scrollbar-width: 0;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.scroll-pages::-webkit-scrollbar,
.scroll-pages--vertical::-webkit-scrollbar,
.scroll-pages--horizontal::-webkit-scrollbar {
    width: 0;
}

.scroll-pages--horizontal {
    flex-direction: row;
    scroll-snap-type: x mandatory;
}

.page {
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    flex: none;
}
